@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
.button-1 {
  color: white;
  text-decoration: none;
  border: white solid 2px;
  font-size: 1.5vw;
  padding: 0.5vw;
  border-radius: 15px;
}
.button-1:hover, .button-1:active {
  background-color: white;
  color: black;
}

a.small {
  color: rgb(224, 224, 224);
  -webkit-text-decoration: rgb(224, 224, 224) underline;
  text-decoration: rgb(224, 224, 224) underline;
  padding-bottom: 2vw;
}
a.small:hover, a.small:active {
  color: white;
  -webkit-text-decoration: white underline;
  text-decoration: white underline;
}

.lead {
  font-weight: 800;
}

a.text {
  -webkit-text-decoration: #89D0EE underline;
  text-decoration: #89D0EE underline;
  text-decoration-thickness: 2px;
  color: black;
}
a.text:active, a.text:hover {
  color: #89D0EE;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", cursive;
  background: white;
}

header {
  margin: 0;
  padding: 0;
  background: url("/assets/bg.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
}
header div.main {
  margin-top: 20vh;
  color: white;
}
header div.main h1 {
  font-size: 5.5vw;
  margin: 0;
  padding: 0;
  margin-left: 2vw;
}
header div.main div.flex {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 2vw;
}
header div.main div.flex a {
  margin: 0px 0.8vw 0px 0px;
}
header nav {
  margin: 0;
  padding: 0;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}
header nav ul li {
  margin: 1vw;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 2vw;
}
header nav ul li a:hover, header nav ul li a:active {
  color: #05709C;
}

section#about h2 {
  color: white;
  font-size: 5vw;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url("/assets/extras/text bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 20%;
  height: 9vw;
}
section#about p {
  padding: 2vw;
  margin: 2vw;
  border-radius: 25px;
  box-shadow: 5px 5px 15px grey;
  background: #ffffff;
}
section#about div.flex {
  display: flex;
}

section#content h2 {
  color: white;
  font-size: 4.3vw;
  text-align: left;
  margin: 0vw;
  padding: 1vw 0vw 1vw 1vw;
  background-image: url("/assets/extras/text bg 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 6vw;
  width: 40vw;
}
section#content i {
  margin-left: 1vw;
}
section#content iframe.video-1 {
  border-radius: 15px;
  margin: 1vw;
}
section#content div.grid {
  padding: 0vw 5vw 0vw 5vw;
  display: grid;
  text-align: center;
  grid-template-columns: 50% 50%;
}
section#content div.grid div.card {
  background-color: #ffffff;
  box-shadow: 5px 5px 15px grey;
  border-radius: 15px;
  margin: 2vw;
  padding: 0;
}
section#content div.grid div.card iframe {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
section#content div.grid div.card div.info {
  padding: 1vw;
}
section#content div.ad {
  background-image: radial-gradient(#40a2cb, #0086bf);
  margin: 1vw;
  border-radius: 15px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
section#content div.ad h3 {
  font-size: 3vw;
  margin: 0;
  padding: 0;
  padding-top: 2vw;
}
section#content div.ad a {
  margin: 10px 40vw 10px 40vw;
}

section#discord {
  background-image: radial-gradient(#fdc564, #f9b73c);
  margin: 1vw;
  border-radius: 15px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
section#discord h2 {
  font-size: 3vw;
  margin: 0;
  padding: 0;
  padding-top: 2vw;
}
section#discord a {
  margin: 10px 40vw 2vw 40vw;
}
section#discord p.lead {
  margin: 0;
  padding: 0;
}

footer {
  background-image: radial-gradient(#d0f1ff, #c4edff);
  margin: 0;
  padding: 0;
  text-align: center;
}
footer h2 {
  font-size: 2vw;
  margin: 1vw 0vw 0vw 1vw;
  padding-top: 2vw;
}
footer a.small {
  color: black;
  -webkit-text-decoration: underline black 1px;
  text-decoration: underline black 1px;
  margin-left: 1vw;
}
footer a.small:active, footer a.small:hover {
  color: rgb(56, 56, 56);
  -webkit-text-decoration: underline rgb(56, 56, 56) 1px;
  text-decoration: underline rgb(56, 56, 56) 1px;
  font-weight: 600;
}
footer div.grid {
  margin: 1vw 1vw 0vw 1vw;
  padding-bottom: 3vw;
  text-align: center;
}
footer div.grid a {
  margin: 0;
  padding: 0;
}
footer div.grid a:hover, footer div.grid a:active {
  color: #05709C;
}
footer div.grid p {
  margin: 0;
  padding: 0;
}

div.modal {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 2vw;
  padding: 0vw;
  text-align: right;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 2px grey;
}
div.modal div.close {
  background-color: #d0f1ff;
  padding: 0.2vw 0.7vw 0.2vw 0.7vw;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}
div.modal p {
  padding: 0.5vw;
}
div.modal a {
  background-color: red;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5vw;
  margin: 0.3vw;
  transition: 0.5s;
}
div.modal a:hover, div.modal a:active {
  padding: 0.6vw;
  margin: 0.4vw;
  transition: 0.5s;
}

@media screen and (max-width: 900px) {
  header {
    height: 100vh;
  }
  header nav ul li a {
    font-size: 4vw;
    margin: 1vw;
  }
  header h1 {
    font-size: 50vw;
  }
  header a {
    font-size: 4vw;
  }
}/*# sourceMappingURL=index.css.map */