@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

.button-1 {
    color: white;
    text-decoration: none;
    border: white solid 2px;
    font-size: 1.5vw;
    padding: .5vw;
    border-radius: 15px;

    &:hover, &:active {
        background-color: white;
        color: black;
    }
}

html { margin: 0; padding: 0; }
body { 
    margin: 0; padding: 0; font-family: 'Baloo 2', cursive;
    background: white;
}

header{ 
    margin: 0; padding: 0;
    background: url('/assets/bg.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;

    div.main{
        margin-top: 20vh;
        color: white;

        h1{
            font-size: 5.5vw;
            margin: 0; padding: 0;
            margin-left: 2vw;
        }
        div.flex{
            display: flex;
            margin: 0; padding: 0;
            margin-left: 2vw;

            a{
                margin: 0px .8vw 0px 0px;
            }
        }
    }

    nav{
        margin: 0; padding: 0;

        ul {
            margin: 0; padding: 0;
            display: flex;
            justify-content: center;
            list-style: none;

            li {
                margin: 1vw;
                
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 2vw;

                    &:hover, &:active {
                        color: #0041e7;
                    }
                }
            }
        }
    }
}

section#about {
    h2{
        color: white;
        font-size: 5vw;
        text-align: center;
        margin: 0; padding: 0;
        background-image: url('/assets/extras/text\ bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 20%;
        height: 9vw;
    }
    p {
        padding: 2vw;
        margin: 2vw;
        border-radius: 25px;
        box-shadow: 5px 5px 15px grey;
        background: #ffffff;
    }
}

section#content {
    h2{
        color: white;
        font-size: 4.3vw;
        text-align: left;
        margin: 0vw; padding:1vw;
        background-image: url('/assets/extras/text\ bg\ 2.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 6vw;
        width: 40vw;
    }
    
    iframe.video-1 {
        border-radius: 15px;
        margin: 1vw;
    }
}